.bgImg{
    position: relative;
    width: 100%;
    height: 100%;

    z-index: -1;

}
.formImg{
    position: absolute;
    width: 150px;
    height: 120px;
    top: 200px;
    left: 80px;
    font-weight : bold;
}
.Fmaterial{
    position: absolute;
    top:215px;
    left: 50px;

    /* Auto Warp Content */
    width: 35% !important;
    word-wrap: break-word;
    display: inline-block;
    font-family: Arial-regular !important ;
    font-weight: bold;
}
.Fname{
    position: absolute;
    top:175px;
    left: 100px;
    font-weight : bold;
}
.Fdate{
    position: absolute;
    top:325px;
    left: 80px;
    font-weight : bold;
}
.fno{
    position: absolute;
    top:125px;
    left: 650px;
    font-weight : bold;
}
.Fmark{
    position: absolute;
    top:220px;
    left: 495px;
    font-weight : bold;
}
.FtouchNumberSet1{
    position: absolute;
    top:365px;
    left: 280px;
    font-weight : bold;
}
.FtouchNumberSet2{
    position: absolute;
    top:365px;
    left: 400px;
    font-weight : bold;
}
.firstDigitTouch{
    position: absolute;
    top:365px;
    left: 80px;
    font-weight : bold;
}
.secondDigitTouch{
    position: absolute;
    top:365px;
    left: 180px;
    font-weight : bold;
}
.thirdDigitTouch{

    position: absolute;
    top:365px;
    left: 480px;
    font-weight : bold;
}
.fourthDigitTouch{
    position: absolute;
    top:365px;
    left: 650px;
    font-weight : bold;
}
