.bgImg{
    position: relative;
    width: 100%;
    height: 100%;

    z-index: -1;

}
.formImg{
    position: absolute;
    width: 150px;
    height: 120px;
    top: 210px;
    left: 80px;
    font-weight : bold;
    font-family: Arial-regular !important ;
}
.FBracket{

    position: absolute;
    width: 150px;
    height: 120px;
    top: 210px;
    left: 200px;
    font-size: 10px;
    font-weight : bold;
    font-family: Arial-regular !important ;
}
.Fmaterial{
    position: absolute;
    top:225px;
    left: 80px;
    font-size: 29px;
    /* Auto Warp Content */
    width: 35% !important;
    word-wrap: break-word;
    display: inline-block;
    font-family: Arial-regular !important ;
    font-weight: bold;
}
.Fname{
    position: absolute;
    top:178px;
    left: 90px;
    font-weight : bold;
    font-size: 20px;
    font-family: Arial-regular !important ;
}
.Fdate{
    position: absolute;
    top:330px;
    left: 100px;
    font-weight : bold;
    font-family: Arial-regular !important ;
}
.fno{
    position: absolute;
    top:132px;
    left: 610px;
    font-weight : bold;
    font-size: 30px;
    font-family: Arial-regular !important ;
}
.Fmark{
    position: absolute;
    top:233px;
    left: 490px;
    font-weight : bold;
    font-family: Arial-regular !important ;
}
.FtouchNumberSet1{
    position: absolute;
    top:365px;
    left: 280px;
    font-weight : bold;
    font-size: 30px;
    font-family: Arial-regular !important ;
}
.FtouchNumberSet2{
    position: absolute;
    top:365px;
    left: 400px;
    font-weight : bold;
    font-size: 30px;
    font-family: Arial-regular !important ;
}
.firstDigitTouch{
    position: absolute;
    top:360px;
    left: 55px;
    font-weight : bold;
    font-size: 35px;
    font-family: Arial-regular !important ;
    
}
.secondDigitTouch{
    position: absolute;
    top:360px;
    left: 163px;
    font-weight : bold;
    font-size: 35px;
    font-family: Arial-regular !important ;
}
.thirdDigitTouch{

    position: absolute;
    top:360px;
    left: 495px;
    font-weight : bold;
    font-size: 35px;
    font-family: Arial-regular !important ;
}
.fourthDigitTouch{
    position: absolute;
    top:360px;
    left: 600px;
    font-weight : bold;
    font-size: 35px;
    font-family: Arial-regular !important ;
}
